:root{

}
header{
 color:aquamarine;
}
footer{
float:right;


}
h1{
background-color: cornflowerblue;
float:left;
color:bisque;
}
h2{
 color: blue($color: #000000);
 float:center;
}
section{
 background-color: #fad648;
}